Tests:
 check-service,
Restrictions:
 skippable,

Tests:
 run-tests,
Restrictions:
 allow-stderr,
 rw-build-tree,
Depends:
 @,
 @builddeps@,

Tests:
 dieharder,
Restrictions:
 allow-stderr,
 skippable,
Depends:
 dieharder,
 grep,
 @,
